footer.footer
	.footer__row
		.footer__col
			span.footer--logo
			span.footer--copy 2018 © Обучающий центр Native Class. Все права защищены
		.footer__col
			.footer__nav
				span.footer__nav--title Давайте дружить!
				.social
					a.social--item.icon-social.icon-social_vk(href='javascript:void(0);') 
					a.social--item.icon-social.icon-social_fb(href='javascript:void(0);') 
					a.social--item.icon-social.icon-social_ig(href='javascript:void(0);')
			a.footer--phone(href='tel:+74957815476') +7 (495) 781-5476
			button.btn.btn-call Заказать звонок
			.footer--author Разработка сайта – #[a(href='#') #[img(src='./img/letsrock-logo.png', width='118', height='26', alt='')]]