header.header
	.header__row
		.header__col
			span.header--logo
			span.header--slogan Онлайн-обучение по всей России
		.header__col
			.header__social
				span.header__social--title Давайте дружить!
				.social
					a.social--item.icon-social.icon-social_vk(href='javascript:void(0);') 
					a.social--item.icon-social.icon-social_fb(href='javascript:void(0);') 
					a.social--item.icon-social.icon-social_ig(href='javascript:void(0);')
			a.header--phone(href='tel:+ 74957815476') + 7 (495) 781-5476
			button.btn.btn-call Заказать звонок