// Fonts

@import './mixins/fonts.styl'
webfont('Segoe UI', 'segoeui-regular', normal)
webfont('Segoe UI', 'segoeui-italic', normal, italic)
webfont('Segoe UI', 'segoeui-semilight', 200)
webfont('Segoe UI', 'segoeui-light', 300)
webfont('Segoe UI', 'segoeui-semibold', 600)
webfont('Spectral SC', 'spectralsc-medium', 500)
webfont('Spectral SC', 'spectralsc-semibold', 600)
webfont('Spectral SC', 'spectralsc-bold', bold)

// Variables

colorBlack = #121212
colorBlue = #1e2244
colorWhite = #ffffff
colorRed = #e30e1c
f-segoe = 'Segoe UI', sans-serif
f-spectral = 'Spectral SC', sans-serif

// Default

html
	height 100%
	*
		max-height 1000000px
		vertical-align top
		box-sizing border-box

	*:before
	*:after
		vertical-align top
		box-sizing border-box

body
	width 100%
	height 100%
	color colorBlack
	font-size 12px
	line-height 16px
	font-family f-segoe
	padding 0
	margin 0
	background #ffffff
	-webkit-tap-highlight-color transparent

p
	text-indent 0
	padding 0
	margin 0 0 16px

table
	margin 0 0 16px
	border-collapse collapse

	td
		padding 0

:focus
	outline none

img
	padding 0
	margin 0
	border 0

a
	color colorBlack
	text-decoration none

	&:hover
		text-decoration none

form
	margin 0

ul
	margin 0 0 10px 16px
	padding 0

	li
		padding 0
		list-style none

ol
	margin 0 0 10px 18px
	padding 0

	li
		padding 0 0 0 16px

input
select
textarea
	font-size 12px
	font-family f-segoe
	padding 0
	margin 0
	background none
	border 0
	box-sizing border-box

textarea
	overflow auto

button
	font-family f-segoe
	margin 0
	border 0
	box-sizing border-box

	&::-moz-focus-inner
		padding 0
		border 0

::-webkit-input-placeholder
	color #666666

:-moz-placeholder
	color #666666

::-moz-placeholder
	color #666666

:-ms-input-placeholder
	color #666666

.img-cover,
.img-contain
	display none !important

// Libs

@import '../css/libs.css'

// Core

.header
	background #ffffff

	&__row
		display flex
		justify-content space-between
		max-width 1300px
		height 124px
		font-size 0
		padding 0 30px
		margin 0 auto

	&__col
		display inline-block

	&--logo
		display inline-block
		width 293px
		height 64px
		margin 33px 18px 0 -10px
		background url('../img/logo.png') no-repeat 10px 10px
		background-size 273px 44px

	&--slogan
		display inline-block
		width 170px
		color #292a31
		font-size 15px
		line-height 22px
		font-weight 500
		font-family f-spectral
		text-transform uppercase
		margin 42px 0 0

	&__social
		display inline-block
		text-align center
		margin 28px 42px 0 0

		&--title
			display block
			font-size 13px
			line-height 20px
			font-weight 600
			font-family f-spectral
			text-transform uppercase
			margin 0 0 5px

	&--phone
		display inline-block
		color #1e1e1e
		font-size 24px
		line-height 30px
		font-weight 300
		margin 51px 26px 0 0

	.btn-call
			margin-top 45px

.social
		font-size 0
		margin 0 -5px

		&--item
			display inline-block
			margin 0 5px 10px

.icon-social
	display inline-block
	width 32px
	height 32px
	background-position 0 0
	background-repeat no-repeat
	background-size 100% 100%

	&_vk
		background-image url('../img/vk-icon.png')

	&_fb
		background-image url('../img/fb-icon.png')

	&_ig
		background-image url('../img/ig-icon.png')

.btn
	display inline-block
	cursor pointer

	&-call
		color colorRed
		font-size 14px
		line-height 20px
		font-weight 600
		text-transform uppercase
		padding 10px 17px
		background colorWhite
		border 1px solid colorRed
		border-radius 6px
		box-shadow 0 3px 0 colorRed
		transition box-shadow .1s ease-in, transform .1s ease-in

		&:hover
			transform translateY(2px)
			box-shadow none

		&:before
			content ''
			display inline-block
			width 12px
			height 12px
			margin 4px 9px 4px 2px
			background url('../img/phone-icon-red.png') no-repeat 0 0

	&-standart
		color colorWhite
		font-size 20px
		line-height 24px
		font-weight 600
		letter-spacing 0
		text-transform uppercase
		padding 22px 38px
		background-color #e30e1c
		background-image linear-gradient(to bottom, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0) 85%)
		border-radius 6px
		box-shadow 0 5px 0 #830b13
		transition box-shadow .1s ease-in, transform .1s ease-in

		&:hover
			transform translateY(4px)
			box-shadow none

.hero
	position relative
	display flex
	height calc(100% - 124px)
	min-height 640px
	max-height 956px
	background-color #1e2244

	&--icon
		position absolute
		left 15px
		display block
		background-repeat no-repeat
		background-position 0 0

		&_1
			top 6px
			width 44px
			height 44px
			background-image url('../img/hero-icon-1.png')

		&_2
			top 7px
			width 43px
			height 43px
			background-image url('../img/hero-icon-2.png')

		&_3
			top 5px
			width 45px
			height 46px
			background-image url('../img/hero-icon-3.png')

	&:before
		content ''
		position absolute
		left 0
		top 0
		width 100%
		height 100%
		background rgba(0, 0, 0, .7)

	&__row
		position relative
		display flex
		flex-wrap wrap
		max-width 1300px
		color colorWhite
		padding 26px 30px
		margin 0 auto

	&-video
		position absolute
		right 0
		top 50%
		width 170px
		margin-top 37px
		transform translateY(-50%)

		&--pic
			position relative
			width 170px
			height 170px
			cursor pointer
			padding 7px
			background url('../img/hero-video-border.svg') no-repeat 0 0

			span
				position relative
				display block
				height 156px
				background-color #ffffff
				border-radius 50%

				&:before
					content ''
					position absolute
					left 50%
					top 50%
					width 44px
					height 48px
					margin -24px 0 0 -20px
					background url('../img/play-icon.png') no-repeat 0 0
					opacity 0.68
					transition opacity .2s ease-in

			&:hover
				span
					&:before
						opacity 0.9

		&--text
			position relative
			display block
			width 250px
			color #fff9a1
			font-size 14px
			line-height 20px
			font-style italic
			margin 63px 0 0 -34px
			
			&:after
				content ''
				position absolute
				right 34px
				top -77px
				width 25px
				height 70px
				background url('../img/hero-text-line.svg') no-repeat 100% 0

	&__content
		width 100%
		max-width 1120px
		align-self center
		color colorWhite
		text-align center
		padding 50px 0 20px
		margin 0 auto

	&--title
		display block
		font-size 40px
		line-height 52px
		font-weight 600
		font-family f-spectral
		letter-spacing -1px
		padding 0
		margin 0 0 91px

	&-pros
		width 100%
		align-self flex-end
		padding 20px 0 30px
		margin 0 auto

		&__grid
			font-size 0
			margin 0 -15px

		&--title
			display block
			font-size 24px
			line-height 28px
			font-weight 600
			margin 0 0 6px

		&__item
			position relative
			display inline-block
			width 33.33%
			padding 0 15px 0 75px

			p
				font-size 15px
				line-height 22px
				margin 0

	&-tip
		position absolute
		left 0
		top 50%
		z-index 1
		width 133px
		height 244px
		margin-top 62px
		background url('../img/hero-tip-bg.png') no-repeat 0 0
		transform translateY(-50%)
		
		&--text
			display flex
			align-items center
			position absolute
			left 153px
			top -53px
			width 344px
			height 118px
			color #fff9a1
			font-size 16px
			line-height 24px
			padding 18px 20px 10px 37px
			background url('../img/hero-tip-bubble.png') no-repeat 50% 50%
			
			&:before
				content ''
				position absolute
				left -23px
				bottom -44px
				width 46px
				height 58px
				background url('../img/hero-tip-line.svg') no-repeat 0 100%
				
.title-h2
	color colorBlue
	font-size 36px
	line-height 40px
	font-weight 600
	font-family f-spectral
	text-align center
	letter-spacing -1px
	padding 0
	margin 0 0 44px

.free
	background url('../img/free-bg.png') no-repeat 50% 50%
	background-size cover
	
	&__row
		max-width 1300px
		padding 57px 30px 34px
		margin 0 auto
		
	&__grid
		font-size 0
		margin 0 -15px
		
	&__col
		display inline-block
		width 50%
		padding 0 15px
		
	&--pic
		position relative
		width 100%
		width calc(100% + 25px)
		height auto
		margin -37px 0 0 -83px
		
	&-doc
		display flex
		position relative
		z-index 1
		align-items center
		margin -56px 0 30px 35px
	
		&--pic
			position relative
			overflow hidden
			display inline-block
			width 137px
			margin-right 30px
			background-color #e8e8e8
			border 4px solid #ffffff
			border-radius 6px
			box-shadow 0 3px 7px rgba(0, 0, 0, 0.12)
			
			&:after
				content ''
				position absolute
				left 50%
				top 50%
				width 45px
				height 45px
				margin -22px 0 0 -19px
				background url('../img/zoom-icon.png') no-repeat 0 0
				opacity .8
				transition opacity .2s ease-in
				
			&:hover
				&:after
					opacity 1
			
			img
				width 100%
				height auto
				
		&--text
			display inline-block
			
			p
				position relative
				color #252443
				font-size 15px
				line-height 22px
				font-weight 600
				margin 0 0 10px
			
		
	&--subtitle
		display block
		color colorBlue
		font-size 24px
		line-height 30px
		font-weight bold
		font-family f-spectral
		padding 0
		margin 0 0 29px
		
	&__list
		max-width 460px
		margin 0 0 30px
		
		li
			position relative
			font-size 18px
			line-height 25px
			padding-left 44px
			margin 0 0 25px
			
			&:before
				content ''
				position absolute
				left 0
				top 1px
				width 30px
				height 24px
				background url('../img/list-check-icon.png') no-repeat 0 0
				
	&-access
		font-size 0
		margin 64px 0 30px
		
		&--phone
			display inline-block
			width 240px
			font-size 18px
			font-weight 200
			padding 10px 22px 12px
			margin 2px 11px 2px 0
			border-radius 6px
			background-color rgba(249, 247, 247, .95)
			border 1px solid rgba(196, 196, 196, .95)
			box-shadow inset 0 2px 2px rgba(0, 0, 0, 0.14)
			
		&__controls
			display inline-block
			width 295px
			
		&--tip
			display block
			color #252443
			font-size 12px
			line-height 18px
			text-align center
			margin 13px 0 0
		
			a
				color #252443
				text-decoration underline
				
				&:hover
					text-decoration none
			
		.btn-standart
				width 100%
				font-size 16px
				line-height 24px
				padding 11px 10px 13px
				box-shadow 0 4px 0 #830b13
				
				&:hover
					transform translateY(2px)
					box-shadow none
					
	&--message
		display block
		width 420px
		color #252443
		font-size 16px
		line-height 24px
		font-weight 600
		text-align center
		padding 14px 25px 18px
		margin -4px auto 30px
		border 5px dashed rgba(255,255,255,.75)
		border-radius 16px
		
.program
	&__row
		max-width 1300px
		padding 47px 30px 59px
		margin 0 auto
		
	.title-h2
		margin 0 0 33px
		
	&--subtitle
		display block
		font-size 18px
		line-height 25px
		text-align center
		padding 0
		margin 0 0 25px
		
	&__grid
		font-size 0
		margin 0 -15px
		margin-top 45px
		
	&__col
		display inline-block
		width 50%
		padding 0 15px
		
	&-level
		max-width 580px
		text-align center
		margin 0 0 30px
		
		&--title
			display block
			color #39368b
			font-size 17px
			line-height 25px
			font-weight 600
			margin 0 0 19px
			
		&__graph
			position relative
	
		&--pic
			position relative
			width 100%
			width calc(100% + 323px)
			margin 0 0 0 -200px
			
		&__ages
			position absolute
			left 0
			bottom 37px
			z-index 1
			width 100%
			font-size 0
			padding 0 0 7px
			margin 0 0 0 -5px
			border-bottom 1px solid #f5f5f5
			
			li
				display inline-block
				min-width 110px
				font-size 14px
				line-height 20px
				padding 0 15px
				
	&__list
		max-width 480px
		margin 31px 0 0
		
		li
			position relative
			min-height 75px
			font-size 18px
			line-height 25px
			padding-left 74px
			margin 0 0 41px
			
			&:before
				content ''
				position absolute
				left 0
				top 1px
				width 56px
				height 66px
				background url('../img/apple-icon.png') no-repeat 0 0
				
	&--tip
		display block
		color #a9a9a9
		font-size 14px
		line-height 21px
		text-align center
		margin 18px 0 30px
		
.slick-prev
.slick-next
	position absolute
	top 50%
	z-index 5
	width 48px
	height 48px
	cursor pointer
	margin-top -24px
	background #2e2b6a
	border-radius 50%
	box-shadow 3px 4px 8px rgba(0, 0, 0, 0.15)
	
	&:before
		content ''
		position absolute
		width 21px
		height 15px
		margin-top -8px
		background-repeat no-repeat
		background-image url('../img/slick-arrows.png')
		background-size 200% 100%
		
.slick-prev
	&:before
		left 14px
		background-position 0 0 
		
.slick-next
	&:before
		right 14px
		background-position 100% 0 

.online
	background #f5f5f5
	
	&__row
		max-width 1300px
		text-align center
		padding 65px 30px 28px
		margin 0 auto
		
	.title-h2
		margin 0 0 24px
		
	&--subtitle
		display block
		font-size 18px
		line-height 25px
		margin 0 0 25px
		
	&__slider
		position relative
		margin 48px 0 40px
		
		.slick-list
			overflow hidden
			background #ffffff
			border-radius 20px
			box-shadow 0 2px 13px rgba(0, 0, 0, 0.03)
		
		.slick-prev
			left -20px
		
		.slick-next
			right -20px
			
	&__item
		display flex
		font-size 0
		
	&__col
		display inline-block
		width 50%
		min-height 472px
			
	&__content
		text-align left
		padding 40px 60px 20px 60px
		
		&--title
			display block
			color colorBlue
			font-size 24px
			line-height 30px
			font-weight bold
			font-family f-spectral
			margin 0 0 36px
			
	&__list
		margin 0
		
		li
			position relative
			font-size 18px
			line-height 25px
			padding-left 44px
			margin 0 0 20px
			
			&:before
				content ''
				position absolute
				left 0
				top 1px
				width 30px
				height 24px
				background url('../img/list-check-icon.png') no-repeat 0 0
				
	.btn-standart
		font-size 16px
		line-height 24px
		padding 11px 29px
		margin 0 0 40px
		box-shadow 0 4px 0 #830b13
		
		&:hover
			transform translateY(2px)
			
.base
	&__row
		max-width 1300px
		padding 76px 30px 17px
		margin 0 auto
		
	.title-h2
		margin 0 0 26px
		
	&--subtitle
		display block
		font-size 18px
		line-height 25px
		text-align center
		margin 0 0 25px
		
	&__grid
		font-size 0
		margin 29px -18px 15px
		
	&__item
		position relative
		display inline-block
		width 33.33%
		height 155px
		padding 0 18px
		margin 0 0 74px
		
		&:hover
			z-index 5
			
	&__content
		position absolute
		left 18px
		top 0
		width 390px
		width calc(100% - 36px)
		min-height 100%
		display flex
		align-items center
		color colorBlue
		padding 20px 40px 36px 37px
		background #ffffff
		border-radius 6px
		box-shadow 0 0 11px rgba(19, 13, 137, 0.23)
		
		&:after
			content ''
			position absolute
			left 50%
			bottom 0
			width 73px
			height 32px
			margin-left -37px
			background url('../img/apple-icon-2.png') no-repeat 50% 0
		
		p
			display none
			font-size 16px
			line-height 24px
			margin 21px 10px -4px 12px
		
		&--title
			position relative
			z-index 1
			display block
			font-size 24px
			line-height 28px
			font-weight 600
			padding-left 50px
			
			&:before
				content ''
				position absolute
				left 0
				top 5px
				width 30px
				height 24px
				background url('../img/list-check-icon.png') no-repeat 0 0
				
		&:hover
			display block
			color #ffffff
			padding-top 39px
			margin-top -10px
			background-color #322d74
			border-radius 8px
			box-shadow none
			
			&:after
				display none
			
			p
				display block
				
	&-request
		position relative
		padding 45px 115px 45px
		margin 0 0 20px
		background-color #2e2b6a
		background-image linear-gradient(-45deg, rgba(93, 71, 218, 0.3) 0%, rgba(93, 71, 218, 0) 100%)
		border-radius 16px
		
		&--pic
			position absolute
			right 8.7%
			bottom 22px
			width 43.95%
			height 305px
		
		&__content
			max-width 410px
			color #ffffff
			
		&--title
			display block
			font-size 22px
			line-height 27px
			margin 0 0 28px
				
.btn-standart_mini
	font-size 16px
	line-height 24px
	padding 11px 29px
	margin 0 0 40px
	box-shadow 0 4px 0 #830b13
	
	&:hover
		transform translateY(2px)
				
.method
	background #f5f5f5
	
	&__row
		max-width 1300px
		padding 45px 30px 0
		margin 0 auto
		
	.title-h2
		margin 0 0 26px
		
	&--subtitle
		display block
		color #000000
		font-size 18px
		line-height 25px
		text-align center
		margin 0 0 25px
		
	&__content
		color #000000
		
		&--title
			display block
			font-size 24px
			line-height 28px
			font-weight 600
			margin 0 0 20px
		
		p
			font-size 17px
			line-height 24px
			margin 0 0 24px
		
	&-form
		position relative
		font-size 0
		margin 61px 0 0
		
		&--pic
			overflow hidden
			position relative
			display inline-block
			width 37.5%
			height 300px
			box-shadow -10px 6px 12px rgba(0, 0, 0, 0.15)
			border-radius 15px
			
			&:after
				content ''
				position absolute
				left 0
				top 0
				width 100%
				height 100%
				background-image linear-gradient(to left, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 30%)
				
		&__rc
			position relative
			z-index 1
			display inline-block
			width 430px
			margin 51px 0 0 -22px
			
		.hero-video
			top 0
			margin-top -100px
			transform none
			
			&--pic
				background-image url('../img/hero-video-border-grey.svg')
				
			&--text
				width 220px
				color #000000
				font-size 16px
				line-height 24px
				margin 53px 0 0 -27px
				
				&:after
					right 11px
					top -76px
					background-image url('../img/hero-text-line-grey.svg')
					
	&-heroes
		position relative
		min-height 373px
		padding 0 0 20px
		margin 70px 0 0
		
		&__rc
			display inline-block
			width 420px
			margin 0 0 0 52px
			
		.btn-standart
			min-width 280px
			margin-top 14px
			
	&-about
		position absolute
		right 19px
		bottom 0
		width 721px
		width 58.15%
		height 369px
		background-position 50% 100% !important
		
		&--message
			position absolute
			right 32px
			bottom 100%
			width 500px
			color #000000
			font-size 16px
			line-height 23px
			font-weight 600
			padding 26px 50px 30px
			margin-bottom -35px
			background #ffffff
			border-radius 16px
			
			&:after
				content ''
				position absolute
				right -21px
				bottom -91px
				width 40px
				height 125px
				background url('../img/method-message-arrow.svg') no-repeat 0 0
		
.map
	position relative
	z-index 1
	height 730px
	border-top 2px solid rgba(255,255,255,.1)
	border-bottom 5px solid #ffffff
	
	&-certificate
		position absolute
		left 50%
		top -63px
		z-index 5
		display flex
		align-items center
		width 100%
		max-width 1240px
		padding 0 45px
		margin-left -620px
		background-color #252443
		background-image linear-gradient(-45deg, rgba(93, 71, 218, 0.3) 0%, rgba(93, 71, 218, 0) 100%)
		border-radius 12px
		
		&--logo
			display inline-block
			width 126px
			height 140px
			
		&--text
			display inline-block
			width 781px
			width calc(100% - 126px - 243px)
			color #ffffff
			font-size 15px
			line-height 22px
			padding 20px 60px 28px 95px
			
		&--more
			display inline-block
			width 243px
			padding 20px 0 26px
			
		&--button
			width 100%
			color #ffffff
			font-size 14px
			line-height 20px
			text-transform uppercase
			padding 11px 15px 9px
			cursor pointer
			background transparent
			border 1px solid #ccc7f1
			border-radius 6px
			box-shadow 0 3px 0 #ffffff
			transition box-shadow .2s ease-in, transform .2s ease-in
			
			&:hover
				box-shadow none
				transform translateY(2px)
	
	&--core
		position absolute
		left 0
		top 0
		width 100%
		height 100%
		background #f2f2f2
		
	&-contacts
		position absolute
		left 50%
		top 145px
		z-index 10
		width 520px
		min-height 205px
		color #363636
		padding 26px 36px 20px
		margin-left -575px
		background rgba(255,255,255,0.9)
		
		p
			font-size 16px
			line-height 24px
			margin 0 0 7px
			
			strong
				font-weight 600
				
			span
				font-weight 200
				
			a
				display inline-block
				font-size 20px
				margin -2px 0 2px
				
				&[href^='mailto:']
					color #2060a1
					text-decoration underline
					
					&:hover
						text-decoration none
						
.free
	&_custom
		padding-bottom 62px
		background-color #fffae9
		background-image url('../img/free-bg-2.png')
		
	&--pic
		width 100%
		width calc(100% - 13px)
		margin-top -5px
		margin-left 0
		
	&-access
		margin-top 39px
		
.license
	&__row
		position relative
		text-align center
		padding 60px 30px 163px
		
		&:after
			content ''
			position absolute
			left 50%
			bottom 61px
			width 436px
			height 110px
			margin-left -218px
			background url('../img/train-icon.png') no-repeat 50% 50%
		
	&__grid
		font-size 0
		margin 58px -30px 0
		
	&__item
		display inline-block
		padding 0 35px
		margin 0 0 35px
	
	&--pic
		display block
		width 294px
		padding 5px
		border 7px solid #24284f
		border-right-color #454a89
		border-top-color #454a89
		
		span
			display block
			height 384px
			background-color #e8e8e8
			border-radius 12px
			
.reviews
	position relative
	background #f5f5f5
	
	&:before
		content ''
		position absolute
		left 50%
		bottom 11.6666%
		width 293px
		height 262px
		margin-left -960px
		background url('../img/review-dog.png') no-repeat 0 100%
	
	&__row
		max-width 1300px
		padding 48px 30px 51px
		margin 0 auto
		
	&__grid
		font-size 0
		margin 61px -18px 0
		
	&__item
		display inline-block
		width 33.33%
		padding 0 18px
		margin 0 0 42px
		
	&-content
		display block
		
		&--pic
			overflow hidden
			position relative
			display block
			height 250px
			margin 0 0 13px
			border-radius 12px
			box-shadow -10px 6px 12px rgba(0, 0, 0, 0.15)
			
			&:before
				content ''
				position absolute
				left 0
				top 0
				width 100%
				height 100%
				background rgba(0,0,0,.5)
				
			&:after
				content ''
				position absolute
				left 50%
				top 50%
				width 54px
				height 54px
				margin -27px 0 0 -27px
				background url('../img/video-play-icon.png') no-repeat 50% 50%
				opacity .5
				transition opacity .2s ease-in
				
		&:hover
			& ^[-1]--pic:after
				opacity .8
				
		&--text
			display block
			color #000000
			font-size 18px
			line-height 25px
			margin 0
			
.teachers
	position relative
	
	&:after
		content ''
		position absolute
		right 0
		bottom 0
		z-index 1
		width 206px
		height 203px
		background url('../img/bear-icon.png') no-repeat 100% 100%
		
	&__row
		position relative
		max-width 1300px
		padding 70px 30px 24px
		margin 0 auto
		
	.title-h2
		margin-bottom 24px
		
	&--subtitle
		display block
		color #010101
		font-size 18px
		line-height 25px
		text-align center
		margin 0 0 25px
		
	&__slider
		position relative
		font-size 0
		padding 0 47px
		margin 24px 0 40px
		
		&:before
			content ''
			position absolute
			left -42px
			top -27px
			z-index 10
			width 132px
			height 138px
			background url('../img/rat-icon.png') no-repeat 0 0
		
		.slick-list
			padding 20px 0
		
		.slick-prev
			left -20px
		
		.slick-next
			right -20px
		
	&__item
		display inline-block
		width 33.33%
		padding 0 18px
		
	&-person
		overflow hidden
		position relative
		display block
		height 500px
		background #ffffff
		border-radius 6px
		box-shadow -10px 6px 12px rgba(0, 0, 0, 0.15)
		
		&__content
			position absolute
			left 0
			bottom 0
			width 100%
			min-height 155px
			color #ffffff
			padding 17px 30px 19px
			background rgba(46,43,106,.9)
			
			p
				font-size 18px
				line-height 27px
				margin 0
		
		&--name
			display block
			font-size 24px
			line-height 28px
			font-weight 600
			font-family f-spectral
			letter-spacing -1px
			margin 0 0 10px
			
.ask
	overflow hidden
	background-color #fffae9
	background-image linear-gradient(to right, #ffeeee 0%, #ddefbb 100%)

	&__row
		position relative
		max-width 1300px
		text-align center
		padding 27px 30px 14px
		margin 0 auto
		
		&:after
			content ''
			position absolute
			right -21px
			bottom 0
			width 221px
			height 201px
			background url('../img/cat-icon.png') no-repeat 0 0
		
	&-person
		position absolute
		left -25px
		bottom 0
		width 232px
		height 297px
		background url('../pic/ask-person.png') no-repeat 0 0
		
		&__content
			position absolute
			left 170px
			top 7px
			width 200px
			text-align left
			
		&--name
			display block
			font-size 18px
			line-height 26px
			margin 0 0 2px
			
		&--position
			display block
			font-size 15px
			line-height 22px
			font-style italic

	&--title
		display block
		color colorBlue
		font-size 28px
		line-height 32px
		font-weight 600
		font-family f-spectral
		text-align center
		letter-spacing -1px
		padding 0
		margin 0 0 27px
		
	&__grid
		display flex
		align-items center
		font-size 0
		margin 0 95px 5px
		
	&__item
		display inline-block
		display flex
		align-items center
		width calc(100% - 22px)
		margin 0 11px 22px
		min-height 103px
		padding 26px 25px 20px
		background rgba(255,255,255,.9)
		border-radius 8px
		box-shadow 0 0 11px rgba(190, 198, 115, 0.24)
		
		p
			width 100%
			font-size 18px
			line-height 25px
			text-align center
			margin 0
	
	.btn
		min-width 204px
		margin 0 0 10px
		
.plan
	&__row
		max-width 1300px
		padding 79px 30px 44px
		margin 0 auto
		
	.title-h2
		margin-bottom 56px
	
	&__grid
		font-size 0
		margin 0 -18px
		
	&__item
		display inline-block
		width 33.33%
		padding 0 18px
		margin 0 0 36px
		
	&-content
		position relative
		color #4a4a4a
		padding 39px 35px 36px
		background #f9f9f9
		border-radius 12px
		box-shadow 0 0 11px rgba(19, 13, 137, 0.1)
		transition all .3s ease-in
		
		&--icon
			position absolute
			display block
			background-repeat no-repeat
			background-position 0 0
			
			&_1
				right 23px
				top 37px
				width 58px
				height 48px
				background-image url('../img/plan-icon-1.png')
			
			&_2
				right -13px
				top -37px
				width 96px
				height 189px
				background-image url('../img/plan-icon-2.png')
			
			&_3
				right 0
				top -6px
				width 88px
				height 170px
				background-image url('../img/plan-icon-3.png')
		
		&:hover
			margin-top -16px
			margin-bottom 16px
			background-color #ffffff
			box-shadow 0 0 11px rgba(19, 13, 137, 0.23)
			
			& ^[-1]--title
				color #1e2244
				
			.btn
				opacity 1
		
		&--title
			display block
			font-size 28px
			line-height 32px
			font-weight 500
			font-family f-spectral
			letter-spacing -1px
			margin 0 0 9px
			
		&--price
			display block
			font-size 24px
			line-height 30px
			margin 0 0 18px
			
		&__list
			margin 0 0 21px
			
			li
				position relative
				font-size 15px
				line-height 21px
				padding-left 15px
				margin 0 0 8px
				
				&:before
					content ''
					position absolute
					left 0
					top 8px
					width 6px
					height 6px
					background #e30e1c
					
		&__controls
			text-align center
			margin 55px 0 0
			
			.btn
				min-width 246px
				opacity .5


				
.form
	input
		width 100%
		font-size 18px
		font-weight 200
		padding 10px 22px 12px
		margin 2px 11px 2px 0
		border-radius 6px
		background-color rgba(249, 247, 247, .95)
		border 1px solid rgba(196, 196, 196, .95)
		box-shadow inset 0 2px 2px rgba(0, 0, 0, 0.14)
		
	&--tip
		display block
		color #ffffff
		font-size 12px
		line-height 18px
		text-align center
		margin 13px 0 0
	
		a
			color #ffffff
			text-decoration underline
			
			&:hover
				text-decoration none
			
	.btn-standart
			width 100%
			font-size 16px
			line-height 24px
			padding 11px 10px 13px
			box-shadow 0 4px 0 #830b13
			
			&:hover
				transform translateY(2px)
				box-shadow none
				
.request
	background-color #2e2b6a
	background-image linear-gradient(-45deg, rgba(93, 71, 218, 0.3) 0%, rgba(93, 71, 218, 0) 100%)
	
	&__row
		position relative
		max-width 1300px
		font-size 0
		color #ffffff
		padding 45px 30px 0
		margin 0 auto
	
	&--title
		display block
		font-size 28px
		line-height 32px
		font-family f-spectral
		text-align center
		letter-spacing -1px
		margin 0 0 29px
		
	&--description
		display inline-block
		width 285px
		font-size 16px
		line-height 24px
		padding 0 0 30px
		
	&--pic
		display inline-block
		width 183px
		height 184px
		margin 10px 11px 0 -33px
		background url('../img/request-pic.png') no-repeat 0 0
		
	&-form
		display inline-block
		width calc(100% - 446px)
		padding 0 0 30px
		margin-right -10px
		margin-top 16px
		
		&__item
			display inline-block
			width 240px
			margin 0 15px 15px 0
			
		&__controls
			display inline-block
			width 283px
			margin-right -10px
			
			.btn
				width 100%
				margin 0
				
		&--welcome
			display block
			font-size 18px
			line-height 24px
			margin 10px 0 0
			
.process
	overflow hidden

	&__row
		position relative
		max-width 1300px
		padding 64px 30px 30px
		margin 0 auto
		
		&:before
			content ''
			position absolute
			left -46px
			bottom 0
			width 366px
			height 382px
			background url('../img/process-before.png') no-repeat 0 0
		
		&:after
			content ''
			position absolute
			right -42px
			bottom 0
			width 274px
			height 245px
			background url('../img/process-after.png') no-repeat 0 0
		
	.title-h2
		margin-bottom 31px
		
	&--subtitle
		display block
		font-size 18px
		line-height 25px
		text-align center
		margin 0 0 25px
		
.circle
	position relative
	z-index 10
	display block
	width 573px
	height 633px
	text-align center
	margin 47px auto 50px
	background url('../img/circle-bg.png') no-repeat 50% 50%

	&--center
		position absolute
		left 50%
		top 50%
		display block
		width 220px
		height 220px
		color #ffffff
		font-size 18px
		line-height 25px
		padding 77px 20px 20px
		margin -110px 0 0 -110px
		background #2e2b6a
		border-radius 50%
		
		&:before
			content ''
			position absolute
			left 50%
			top 22px
			width 83px
			height 50px
			margin-left -42px
			background url('../img/rhino-icon.png') no-repeat 0 0
			
	&--item
		position absolute
		display flex
		align-items center
		width 160px
		height 160px
		font-size 18px
		line-height 25px
		padding 9px 15px 19px
		background-color #e8e8e8
		background-image linear-gradient(to right, #ffeeee 0%, #ddefbb 100%)
		border-radius 50%
		
		p
			width 100%
			margin 0
		
		span
			display block
			color #ffffff
			font-size 36px
			line-height 36px
			font-weight 600
			font-family f-spectral
			
		&_1
			left 50%
			top 0
			margin-left -80px
			
		&_2
			right 0
			top 115px
			
		&_3
			right 0
			bottom 115px
			
		&_4
			left 50%
			bottom 0
			margin-left -80px
			
		&_5
			left 0
			bottom 115px
			
		&_6
			left 0
			top 115px
		
@media (min-width 1921px)
	.reviews
		&:before
			left 0
			margin-left 0