doctype html
html(lang='ru')
	title Комплексная программа по английскому языку
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, user-scalable=yes')
	link(href='./css/style.css', rel='stylesheet')
	body
		include modules/header.pug
		section.hero
			.hero__row
				article.hero__content
					h1.hero--title Комплексная программа по английскому языку для самостоятельных занятий родителями #[br] с детьми от 4 до 8 лет
					button.btn.btn-standart Попробовать бесплатно
				.hero-pros
					.hero-pros__grid
						.hero-pros__item
								i.hero--icon.hero--icon_1
								span.hero-pros--title Не нужно никуда ехать
								p Вы сами сможете заниматься с ребенком в удобное для вас время
						.hero-pros__item
								i.hero--icon.hero--icon_2
								span.hero-pros--title Все преподаватели - носители языка
								p с международными дипломами и сертификатами
						.hero-pros__item
								i.hero--icon.hero--icon_3
								span.hero-pros--title Вам не нужно знать язык
								p Мы даем подробные рекомендации по занятиям с ребенком
				.hero-video
					.hero-video--pic
						span
							img.img-cover(src='./pic/hero-video.png', width='157', height='157', alt='')
					span.hero-video--text Посмотрите двухминутное видео обращение руководителя и узнайте, как мы относимся к своей работе
			.hero-tip
				span.hero-tip--text Ваш ребенок заговорит на английском языке уже с первого месяца!
			img.img-cover(src='./img/hero-bg.jpg', width='1920', height='844', alt='')
		section.free
			.free__row
				h2.title-h2 Запишитесь на первый бесплатный урок #[br] по английскому
				.free__grid
					.free__col
						img.free--pic(src='./img/free-pic.png', width='630', height='375', alt='')
						.free-doc
							a.free-doc--pic(href='javascript:void(0);')
								img(src='./pic/license.jpg', width='129', height='188', alt='')
							.free-doc--text
								p Заключение на программу Департамента #[br] Образования города Москвы
					.free__col
						.free--subtitle На первом уроке:
						ul.free__list
							li Вы и ребенок познакомитесь с преподавателем и форматом обучения
							li Получите рекомендации по обучению ребенка
							li Ребенок освоит первые базовые элементы английского языка и начнет их применять
						.free-access
							input.free-access--phone(type='text', placeholder='Ваш телефон *')
							.free-access__controls
								button.btn.btn-standart Получить доступ к уроку
								span.free-access--tip Нажимая, Вы принимаете условия #[a(href='javascript:void(0);') Соглашения]
						span.free--message Куратор курса перезвонит Вам, чтобы уточнить точную дату проведения урока
		section.program
			.program__row
				h2.title-h2 Авторская программа обучения #[br] Native Class разработана специально #[br] для детей от 4 до 8 лет
				span.program--subtitle В программе учитываются особенности обучения возрастной категории - ваш #[br] ребенок начинает говорить на английском после 1 урока
				.program__grid
					.program__col
						.program-level
							span.program-level--title Уровень усвоения языка
							.program-level__graph
								ul.program-level__ages
									li 4 года
									li 6 лет
									li 8 лет
									li 10 лет
								img.program-level--pic(src='./img/level-graph.png', width='903', height='407', alt='')
					.program__col
						ul.program__list
							li Только в этот период мозг ребенка усваивает иностранный язык в 2-3 раза эффективнее, чем в подростковом возрасте
							li 100% детей до 8 лет усваивают любой, новый для них, язык без приобретения акцента. После 12 лет только 2% людей могут изучить иностранный язык и говорить на нем без акцента
							li При изучении 2-х языков одновременно у ребенка в этом возрасте улучшаются общие умственные показатели на 18%*		
				span.program--tip * - Согласно исследованиям американского Университетского совета, #[br] администрирующим тесты SAT, 2007 год
		section.online
			.online__row
				h2.title-h2 Формат online-обучения эффективнее, #[br] безопаснее и удобнее традиционных способов #[br] образования
				span.online--subtitle Ваш ребенок будет учиться в комфортных условиях и в удобное время
				.online__slider
					.online__item
						.online__col
							.online__content
								span.online__content--title Безопасность
								ul.online__list
									li Вы полностью контролируете своего ребенка и те знания, которые он получает
									li Ребенку не нужно никуда ходить и поздно возвращаться с уроков или дополнительных занятий
									li Ребенок не будет отвлекаться на непослушных сверстников. Никто не будет мешать его развитию
						.online__col
							img.img-cover(src='./pic/online-1.jpg', width='620', height='472', alt='')
					.online__item
						.online__col
							.online__content
								span.online__content--title Безопасность
								ul.online__list
									li Вы полностью контролируете своего ребенка и те знания, которые он получает
									li Ребенку не нужно никуда ходить и поздно возвращаться с уроков или дополнительных занятий
									li Ребенок не будет отвлекаться на непослушных сверстников. Никто не будет мешать его развитию
						.online__col
							img.img-cover(src='./pic/online-1.jpg', width='620', height='472', alt='')
				button.btn.btn-standart Записаться на бесплатный урок
		section.base
			.base__row
				h2.title-h2 Через 4 месяца ваш ребенок будет владеть #[br] английским на уверенном базовом уровне
				span.base--subtitle За счет уникальной авторской технологии Native Class, разработанной совместно с #[br] носителями английского языка
				.base__grid
					.base__item
						.base__content
							span.base__content--title Используем беспереводной метод
							p Обучаем ребенка понимать английскую речь и думать над ответом уже на английском языке
					.base__item
						.base__content
							span.base__content--title Не учим алфавит
							p Обучаем ребенка понимать английскую речь и думать над ответом уже на английском языке
					.base__item
						.base__content
							span.base__content--title Не учим слова
							p Обучаем ребенка понимать английскую речь и думать над ответом уже на английском языке
					.base__item
						.base__content
							span.base__content--title Используем коммуникативную методику
							p Обучаем ребенка понимать английскую речь и думать над ответом уже на английском языке
					.base__item
						.base__content
							span.base__content--title У ребенка #[br] не развивается акцент
							p Обучаем ребенка понимать английскую речь и думать над ответом уже на английском языке
					.base__item
						.base__content
							span.base__content--title Вы являетесь главным наставником ребенка
							p Обучаем ребенка понимать английскую речь и думать над ответом уже на английском языке
				.base-request(data-ratio='0.5596')
					.base-request__content
						.base-request--title Узнайте подробнее о нашей методике обучения на бесплатном первом уроке
						button.btn.btn-standart.btn-standart_mini Записаться на бесплатный урок
					.base-request--pic.scale
						img.img-contain(src='./pic/base-request.png', width='545', height='305', alt='')
		section.method
			.method__row
				h2.title-h2 Вашему ребенку становится действительно #[br] интересно изучать английский
				span.method--subtitle В программе обучения мы охватили только самые близкие тематики для ребенка: #[br] от семьи и игрушек, до времен года и интересных животных
				.method-form(data-ratio='0.6452')
					.method-form--pic.scale
						img.img-cover(src='./pic/method-form.jpg', width='465', height='300', alt='')
					.method-form__rc
						.method__content
							span.method__content--title Яркая игровая форма обучения
							p Благодаря ей ребенок учится не только произносить фразы и выражения, но и понимать, реагировать и взаимодействовать с говорящими на английском языке людьми без языкового и психологического барьера
					.hero-video
						.hero-video--pic
							span
								img.img-cover(src='./pic/method-video.jpg', width='157', height='157', alt='')
						span.hero-video--text Посмотрите двухминутное видео о том, как проходят наши уроки
				.method-heroes(data-ratio='0.5118')
					.method-heroes__rc
						.method__content
							span.method__content--title Забавные герои, с которыми #[br] малыш ждет встречи
							p Курс включает в себя четкие сценарии занятий и особые видео, которые ведут носители английского языка, а также игровую форму с увлекательными героями
							button.btn.btn-standart.btn-standart_mini Записаться на бесплатный урок
					.method-about.scale
						span.method-about--message Мы вовлекаем вашего ребенка в процесс обучения через дружеское и веселое общение, и помогаем малышу осваиваться на уроках
						img.img.contain(src='./pic/method-about.png', width='721', height='369', alt='')
		section.plan
			.plan__row
				h2.title-h2 Выберите наиболее подходящий для вас #[br] вариант обучения
				.plan__grid
					.plan__item
						.plan-content
							i.plan-content--icon.plan-content--icon_1
							.plan-content--title Базовый
							.plan-content--price 22 000 руб.
							ul.plan-content__list
								li Курс 72 урока - Little Stars, Level 1, ESL Student, Absolute Beginner
								li Мобильная версия
								li Авторские курсы
								li Авторские прописи и рабочая тетрадь
								li 34 видео по книге сказок
								li 30 видео, обзор слов по уровню для повторения
								li 36 видео, отработка звуков
								li Видеоуроки с носителями языка
								li Домашние задания по каждому уроку
								li Доступ в закрытый чат, где мы обсуждаем результаты детей, делимся идеями и мотивируем детей и родителей на занятия
								li Проверка домашних заданий преподавателями курса
							.plan-content__controls
								button.btn.btn-standart.btn-standart_mini Выбрать программу
					.plan__item
						.plan-content
							i.plan-content--icon.plan-content--icon_2
							.plan-content--title Стандарт
							.plan-content--price 39 000 руб.
							ul.plan-content__list
								li Курс 72 урока - Little Stars, Level 1, ESL Student, Absolute Beginner
								li Мобильная версия
								li Авторские курсы
								li Авторские прописи и рабочая тетрадь
								li 34 видео по книге сказок
								li 30 видео, обзор слов по уровню для повторения
								li 36 видео, отработка звуков
								li Видеоуроки с носителями языка
								li Домашние задания по каждому уроку
								li Доступ в закрытый чат, где мы обсуждаем результаты детей, делимся идеями и мотивируем детей и родителей на занятия
								li Проверка домашних заданий преподавателями курса
								li Мотивирующая поддержка кураторов
								li Дополнительный модуль "Создание языковой среды"
								li 6 дополнительных видеоуроков
								li 6 инструкций по созданию естественной языковой среды
								li 1 онлайн сессия
								li Карта-путеводитель + 1 одна встреча с дополнительными образовательными активностями для детей (мультфильмы, приложения к телефону, книги по уровню)
								li 6 живых онлайн сессии с экспертом курса школы Native Class для родителей с возможностью лично задать вопросы
								li 1 индивидуальная игра с ребенком 1 на 1, проводит эксперт школы "Игра - проверь себя - я звезда" (цель - срезу результатов, индивидуальные рекомендации по прохождению программы)
							.plan-content__controls
								button.btn.btn-standart.btn-standart_mini Выбрать программу
					.plan__item
						.plan-content
							i.plan-content--icon.plan-content--icon_3
							.plan-content--title Премиум
							.plan-content--price 78 000 руб.
							ul.plan-content__list
								li Курс 72 урока - Little Stars, Level 1, ESL Student, Absolute Beginner
								li Мобильная версия
								li Авторские курсы
								li Авторские прописи и рабочая тетрадь
								li 34 видео по книге сказок
								li 30 видео, обзор слов по уровню для повторения
								li 36 видео, отработка звуков
								li Видеоуроки с носителями языка
								li Домашние задания по каждому уроку
								li Доступ в закрытый чат, где мы обсуждаем результаты детей, делимся идеями и мотивируем детей и родителей на занятия
								li Проверка домашних заданий преподавателями курса
								li Мотивирующая поддержка кураторов
								li Дополнительный модуль "Создание языковой среды"
								li 6 дополнительных видеоуроков
								li 6 инструкций по созданию естественной языковой среды
								li 1 онлайн сессия
								li Карта-путеводитель + 1 одна встреча с дополнительными образовательными активностями для детей (мультфильмы, приложения к телефону, книги по уровню)
								li 6 живых онлайн сессии с экспертом курса школы Native Class для родителей с возможностью лично задать вопросы
								li 1 индивидуальная игра с ребенком 1 на 1, проводит эксперт школы "Игра - проверь себя - я звезда" (цель - срезу результатов, индивидуальные рекомендации по прохождению программы)
								li Индивидуальный план обучения ребенка английскому языку (с 4 лет до 18 лет) с учетом российских и международных экзаменов
								li 10 онлайн-встреч с носителем языка


							.plan-content__controls
								button.btn.btn-standart.btn-standart_mini Выбрать программу
		section.ask
			.ask__row
				span.ask--title Затрудняетесь с выбором? #[br] Задайте вопрос куратору курса
				.ask-person
					.ask-person__content
						.ask-person--name Ольга Стоянова
						.ask-person--position Куратор курса Native Class
				.ask__grid
					.ask__item
						p Какой уровень программы нужен моему ребенку
					.ask__item
						p Сможем ли мы сами заниматься с ребенком?
					.ask__item
						p Ребенок не хочет заниматься?
				button.btn.btn-standart.btn-standart_mini Задать вопрос
		section.teachers
			.teachers__row
				h2.title-h2 Все преподаватели имеют #[br] международные дипломы и сертификаты
				span.teachers--subtitle Все без исключения преподаватели - носители языка! #[br] Опыт работы  детьми - от 4 лет.
				.teachers__slider(data-ratio='1.3888')
					.teachers__item
						.teachers-person.scale
							.teachers-person__content
								span.teachers-person--name Александра Семенова
								p Старший преподаватель
								p Опыт работы - 5 лет
							img.img-cover(src='./pic/person-1.png', width='360', height='500', alt='')
					.teachers__item
						.teachers-person.scale
							.teachers-person__content
								span.teachers-person--name Эндрю Кэмпелл
								p Старший преподаватель
								p Опыт работы - 8 лет
							img.img-cover(src='./pic/person-2.png', width='360', height='500', alt='')
					.teachers__item
						.teachers-person.scale
							.teachers-person__content
								span.teachers-person--name Даниэль Саморте
								p Старший преподаватель
								p Опыт работы - 8 лет
								p Гражданство США
							img.img-cover(src='./pic/person-3.png', width='360', height='500', alt='')
					.teachers__item
						.teachers-person.scale
							.teachers-person__content
								span.teachers-person--name Александра Семенова
								p Старший преподаватель
								p Опыт работы - 5 лет
							img.img-cover(src='./pic/person-1.png', width='360', height='500', alt='')
					.teachers__item
						.teachers-person.scale
							.teachers-person__content
								span.teachers-person--name Эндрю Кэмпелл
								p Старший преподаватель
								p Опыт работы - 8 лет
							img.img-cover(src='./pic/person-2.png', width='360', height='500', alt='')
					.teachers__item
						.teachers-person.scale
							.teachers-person__content
								span.teachers-person--name Даниэль Саморте
								p Старший преподаватель
								p Опыт работы - 8 лет
								p Гражданство США
							img.img-cover(src='./pic/person-3.png', width='360', height='500', alt='')
		section.reviews
			.reviews__row
				h2.title-h2 Познакомьтесь с видеоотзывами #[br] родителей о нашей программе
				.reviews__grid(data-ratio='0.641')
					.reviews__item
						a(href='#').reviews-content
							.reviews-content--pic.scale
								img.img-cover(src='./pic/review-1.jpg', width='390', height='250', alt='')
							.reviews-content--text Отзыв Екатерины и Петра
					.reviews__item
						a(href='#').reviews-content
							.reviews-content--pic.scale
								img.img-cover(src='./pic/review-2.jpg', width='390', height='250', alt='')
							.reviews-content--text Отзыв Екатерины и Петра
					.reviews__item
						a(href='#').reviews-content
							.reviews-content--pic.scale
								img.img-cover(src='./pic/review-1.jpg', width='390', height='250', alt='')
							.reviews-content--text Отзыв Екатерины и Петра
					.reviews__item
						a(href='#').reviews-content
							.reviews-content--pic.scale
								img.img-cover(src='./pic/review-4.jpg', width='390', height='250', alt='')
							.reviews-content--text Отзыв Екатерины и Петра
					.reviews__item
						a(href='#').reviews-content
							.reviews-content--pic.scale
								img.img-cover(src='./pic/review-5.jpg', width='390', height='250', alt='')
							.reviews-content--text Отзыв Екатерины и Петра
					.reviews__item
						a(href='#').reviews-content
							.reviews-content--pic.scale
								img.img-cover(src='./pic/review-6.jpg', width='390', height='250', alt='')
							.reviews-content--text Отзыв Екатерины и Петра
		section.license
			.license__row
				h2.title-h2 Native Class - лицензируемое обучение #[br] по международным стандартам
				.license__grid(data-ratio='1.4222')
					.license__item
						a(href='#').license--pic
							span.scale
								img.img-cove(src='./pic/license-1.jpg', width='270', height='384' alt='')
					.license__item
						a(href='#').license--pic
							span.scale
								img.img-cove(src='./pic/license-2.jpg', width='270', height='384' alt='')
					.license__item
						a(href='#').license--pic
							span.scale
								img.img-cover(src='./pic/license-3.jpg', width='270', height='384' alt='')
		section.free.free_custom
			.free__row
				h2.title-h2 Запишитесь на первый бесплатный урок #[br] по английскому
				.free__grid
					.free__col
						img.free--pic(src='./img/free-pic-2.png', width='577', height='415', alt='')
					.free__col
						.free--subtitle На первом уроке:
						ul.free__list
							li Вы и ребенок познакомитесь с преподавателем и форматом обучения
							li Преподаватель определит текущий уровень и предложит программу, интересную для ребенка
							li Ребенок освоит первые базовые элементы английского языка и начнет их применять
						.free-access
							input.free-access--phone(type='text', placeholder='Ваш телефон *')
							.free-access__controls
								button.btn.btn-standart Получить доступ к уроку
								span.free-access--tip Нажимая, Вы принимаете условия #[a(href='javascript:void(0);') Соглашения]
						span.free--message Куратор курса перезвонит Вам, чтобы уточнить точную дату проведения урока
		section.map
			.map-certificate
				.map-certificate--logo
					img.img-cover(src='./img/ies-logo.png', width='126', height='140', alt='')
				span.map-certificate--text Компания «Native Class» обладает международной сертификацией International Education Society. Этот сертификат принимается во всем мире и является свидетельством об окончании обучения по программам General English Course for ESL Students.
				.map-certificate--more
					button.map-certificate--button Подробнее о сертификате
			.map-contacts
				p #[strong Native Class]
				p #[span Москва, Гамсоновский переулок, дом 2, строение 1]
				p Тел.: #[a(href='tel:+74957815476') + 7 (495) 781 5476]
				p E-mail: #[a(href='mailto:info@nativeclass.ru') info@nativeclass.ru]

			.map--core
		include modules/footer.pug
		script(src='./js/libs.js')
		script(src='./js/scripts.js')